{% extends "programa/base.html" %}

{% block body %}

{% comment %}
<h1>Classificació</h1>
{% endcomment %}

{% comment %}
Desde Setembre de 2015 que necessitem publicar tambe els partits empatats i els dobles guanyats i perduts
{% endcomment %}


{% if competicio == "20151f" or competicio == "20152f1" or competicio == "20152f2"%}

    <table class="normal" cellpadding=3>
    <tr>
        <th class="titol"></th>
        <th class="titol" align="left">Equip</th>
        <th class="titol">PJ</th>
        <th class="titol">PG</th>   
        <th class="titol">PE</th>  
        <th class="titol">PP</th>   
        <th class="titol">DG</th> 
        <th class="titol">DP</th> 
        <th class="titol">PF</th>
        <th class="titol">PC</th>    
        <th class="titol">SF</th>
        <th class="titol">SC</th>
        <th class="titol">Punts</th>
    </tr>
    {% for e in classificacio %}
    <tr>
        <td class="normal">{{ forloop.counter }}</td>
        <td class="normalnocentrat" align="left">{{ e.equipcompeticio.equip.nom }}</td>
        <td class="normal">{{ e.pj }}</td>
        <td class="normal">{{ e.pg }}</td>
        <td class="normal">{{ e.pe }}</td>
        <td class="normal">{{ e.pp }}</td>
        <td class="normal">{{ e.dg }}</td>
        <td class="normal">{{ e.dp }}</td>
        <td class="normal">{{ e.puf }}</td>
        <td class="normal">{{ e.puc }}</td>
        <td class="normal">{{ e.sf }}</td>
        <td class="normal">{{ e.sc }}</td>
        <td class="normal">{{ e.punts }}</td>
    </tr>
    {% endfor %}
    </table>


{% else %}

    <table class="normal" cellpadding=3>
    <tr>
        <th class="titol"></th>
        <th class="titol" align="left">Equip</th>
        <th class="titol">PJ</th>
        <th class="titol">PG</th>
        <th class="titol">PP</th>
        <th class="titol">PF</th>
        <th class="titol">PC</th>    
        <th class="titol">SF</th>
        <th class="titol">SC</th>
        <th class="titol">Punts</th>
    </tr>
    {% for e in classificacio %}
    <tr>
        <td class="normal">{{ forloop.counter }}</td>
        <td class="normalnocentrat" align="left">{{ e.equipcompeticio.equip.nom }}</td>
        <td class="normal">{{ e.pj }}</td>
        <td class="normal">{{ e.pg }}</td>
        <td class="normal">{{ e.pp }}</td>
        <td class="normal">{{ e.puf }}</td>
        <td class="normal">{{ e.puc }}</td>
        <td class="normal">{{ e.sf }}</td>
        <td class="normal">{{ e.sc }}</td>
        <td class="normal">{{ e.punts }}</td>
    </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock body %}
