{% extends "programa/base.html" %}

{% block body %}
<h3>Rànquing TTI</h3>
<a href="/programa/ranquingtti">Rànquing TTI</a>
<br>
<br>

<h3>2014</h3>
<a href="/programa/calendari/20141f/">Calendari i resultats 1a fase</a>
<br>
<a href="/programa/calendari_entrar/20141f/">Entrar resultats 1a fase</a>
<br>
<a href="/programa/classificacio/20141f/">Classificació 1a fase</a>
<br>
<a href="/programa/ranquing/20141f/">Rànquing 1a fase</a>
<br>
<br>
<a href="/programa/calendari/20142f1/">Calendari i resultats 2a fase G1</a>
<br>
<a href="/programa/calendari/20142f2/">Calendari i resultats 2a fase G2</a>
<br>
<a href="/programa/calendari/20142f3/">Calendari i resultats 2a fase G3</a>
<br>
<a href="/programa/calendari_entrar/20142f1/">Entrar resultats 2a fase G1</a>
<br>
<a href="/programa/calendari_entrar/20142f2/">Entrar resultats 2a fase G2</a>
<br>
<a href="/programa/calendari_entrar/20142f3/">Entrar resultats 2a fase G3</a>
<br>
<a href="/programa/classificacio/20142f1/">Classificació 2a fase G1</a>
<br>
<a href="/programa/classificacio/20142f2/">Classificació 2a fase G2</a>
<br>
<a href="/programa/classificacio/20142f3/">Classificació 2a fase G3</a>
<br>
<a href="/programa/ranquing/20142f123/">Rànquing 2a fase</a>
<br>
<br>




<h3>2013</h3>
<a href="/programa/calendari/2013g1/">Calendari i resultats grup 1</a>
<br>
<a href="/programa/calendari/2013g2/">Calendari i resultats grup 2</a>
<br>
<a href="/programa/calendari_entrar/2013g1/">Entrar resultats grup 1</a>
<br>
<a href="/programa/calendari_entrar/2013g2/">Entrar resultats grup 2</a>
<br>
<a href="/programa/classificacio/2013g1/">Classificació grup 1</a>
<br>
<a href="/programa/classificacio/2013g2/">Classificació grup 2</a>
<br>
<a href="/programa/ranquing/2013g12/">Rànquing</a>
<br>
<br>


<h3>2012</h3>
<a href="/programa/calendari/20121f/">Calendari i resultats 1a fase</a>
<br>
<a href="/programa/calendari_entrar/20121f/">Entrar resultats 1a fase</a>
<br>
<a href="/programa/classificacio/20121f/">Classificació 1a fase</a>
<br>
<a href="/programa/ranquing/20121f/">Rànquing 1a fase</a>
<br>
<br>
<a href="/programa/calendari/20122f1/">Calendari i resultats 2a fase G1</a>
<br>
<a href="/programa/calendari/20122f2/">Calendari i resultats 2a fase G2</a>
<br>
<a href="/programa/calendari/20122f3/">Calendari i resultats 2a fase G3</a>
<br>
<a href="/programa/calendari_entrar/20122f1/">Entrar resultats 2a fase G1</a>
<br>
<a href="/programa/calendari_entrar/20122f2/">Entrar resultats 2a fase G2</a>
<br>
<a href="/programa/calendari_entrar/20122f3/">Entrar resultats 2a fase G3</a>
<br>
<a href="/programa/classificacio/20122f1/">Classificació 2a fase G1</a>
<br>
<a href="/programa/classificacio/20122f2/">Classificació 2a fase G2</a>
<br>
<a href="/programa/classificacio/20122f3/">Classificació 2a fase G3</a>
<br>
<a href="/programa/ranquing/20122f123/">Rànquing 2a fase</a>
<br>
<br>


<h3>2011</h3>
<a href="/programa/calendari/20111f/">Calendari i resultats 1a fase</a>
<br>
<a href="/programa/calendari_entrar/20111f/">Entrar resultats 1a fase</a>
<br>
<a href="/programa/classificacio/20111f/">Classificació 1a fase</a>
<br>
<a href="/programa/ranquing/20111f/">Rànquing 1a fase</a>
<br>
<br>
<a href="/programa/calendari/20112f1/">Calendari i resultats 2a fase G1</a>
<br>
<a href="/programa/calendari/20112f2/">Calendari i resultats 2a fase G2</a>
<br>
<a href="/programa/calendari_entrar/20112f1/">Entrar resultats 2a fase G1</a>
<br>
<a href="/programa/calendari_entrar/20112f2/">Entrar resultats 2a fase G2</a>
<br>
<a href="/programa/classificacio/20112f1/">Classificació 2a fase G1</a>
<br>
<a href="/programa/classificacio/20112f2/">Classificació 2a fase G2</a>
<br>
<a href="/programa/ranquing/20112f12/">Rànquing 2a fase</a>
<br>
<br>

<h3>2010</h3>
<a href="/programa/calendari/20101fA/">Calendari i resultats 1a fase GA</a>
<br>
<a href="/programa/calendari/20101fB/">Calendari i resultats 1a fase GB</a>
<br>
<a href="/programa/calendari_entrar/20101fA/">Entrar resultats GA</a>
<br>
<a href="/programa/calendari_entrar/20101fB/">Entrar resultats GB</a>
<br>
<a href="/programa/classificacio/20101fA/">Classificació 1a fase GA</a>
<br>
<a href="/programa/classificacio/20101fB/">Classificació 1a fase GB</a>
<br>
<a href="/programa/ranquing/20101fAB/">Rànquing 1a fase</a>
<br>
<br>
<a href="/programa/calendari/20102f1/">Calendari i resultats 2a fase G1</a>
<br>
<a href="/programa/calendari/20102f2/">Calendari i resultats 2a fase G2</a>
<br>
<a href="/programa/calendari_entrar/20102f1/">Entrar resultats 2a fase G1</a>
<br>
<a href="/programa/calendari_entrar/20102f2/">Entrar resultats 2a fase G2</a>
<br>
<a href="/programa/classificacio/20102f1/">Classificació 2a fase G1</a>
<br>
<a href="/programa/classificacio/20102f2/">Classificació 2a fase G2</a>
<br>
<a href="/programa/ranquing/20102f12/">Rànquing 2a fase</a>
<br>
<br>

<h3>Administració</h3>
<a href="/admin/">Administració</a>

<br>
<br>
<h3>Estadistiques</h3>
<a href="/programa/estadistiques/">Estadistiques</a>

<br>
<br>
<h3>Precalcula el rànquing de la lliga manualment</h3>
<a href="/programa/ranquing_precalcula_manual/">Precalcula el rànquing de la lliga manualment</a>
{% endblock body %}
