{% extends "programa/base.html" %}

{% block body %}

{% comment %}
<h1>Rànquing Tennis Taula Intercomarcal 2013-2014</h1>
{% endcomment %}

<table class="normalranqtti" cellpadding=3>
<tr>
    <th class="ordre"></th>
    <th class="titolranqtti">Jugador</th>
    <th class="titolranqtti">Equip</th>
{% for e in tornejostti %}
    <th class="titoltorneig"><p class="titolgirat">{{ e.0}}</p></th>
{% endfor %}
    <th class="titoltotal"><p class="titolgirat">TOTAL</p></th>
</tr>
{% for e in ranquingtti %}
<tr>
    <td class="normalranqtti">{{ forloop.counter }}</td>
    <td class="normalranqttinocentrat" align="left">{{ e.0 }}</td>
    <td class="normalranqtti">{{ e.1}}</td>
    <td class="normalranqtti">{{ e.2|floatformat:1}}</td>
    <td class="normalranqtti">{{ e.3|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.4|floatformat:1}}</td>
    <td class="normalranqtti">{{ e.5|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.6|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.7|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.8|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.9|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.10|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.11|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.12|floatformat:1 }}</td>
    <td class="normalranqtti">{{ e.13|floatformat:1 }}</td>
    <td class="ranqttitotal">{{ e.17|floatformat:1 }}</td>
</tr>
{% endfor %}
</table>

{% endblock body %}
